@model StateAndCity.ViewModels.CityViewModel

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="state" class="form-label">Select State:</label>
                <select id="state" name="state" class="form-select">
                    <option value="">-- Select State --</option>
                    @foreach (var state in Model.States)
                    {
                        <option value="@state.StateId">@state.StateName</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="mb-3">
                <label for="city" id="cityLabel" class="form-label">Select City:</label>
                <select id="city" name="city" class="form-select" disabled>
                    <option value="">-- Select City --</option>
                    @foreach (var city in Model.Cities)
                    {
                        <option value="@city.CityId">@city.CityName</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <div id="cityImageContainer" style="display: none;">
                <img id="cityImage" class="img-fluid" alt="City Image">
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="~/js/site.js"></script>